In [1]:
import numpy as np
import pandas as pd

In [2]:
train_true = pd.read_csv('data/train.csv')

In [3]:
train_true

                 img_path  label  type
0        train_data/1.png      3     1
1        train_data/2.png      7     3
2        train_data/3.png      9     2
3        train_data/4.png      9     1
4        train_data/5.png     10     1
...                   ...    ...   ...
2995  train_data/2996.png     10     1
2996  train_data/2997.png      2     1
2997  train_data/2998.png      7     1
2998  train_data/2999.png      7     3
2999  train_data/3000.png      1     2

[3000 rows x 3 columns]

In [4]:
train_pred = pd.read_csv('data/algo_train_pred.csv')

In [5]:
train_pred

                      img_path  label
0        data/train_data/1.png      3
1        data/train_data/2.png      4
2        data/train_data/3.png      8
3        data/train_data/4.png      6
4        data/train_data/5.png     10
...                        ...    ...
2995  data/train_data/2996.png      9
2996  data/train_data/2997.png      2
2997  data/train_data/2998.png      7
2998  data/train_data/2999.png      4
2999  data/train_data/3000.png      1

[3000 rows x 2 columns]

In [6]:
y_true = train_true.label.values
y_pred = train_pred.label.values

In [7]:
# Введем метрики оценки качества модели
def mse(y_true, y_pred):
    return ((y_true - y_pred)**2).mean()

def mae(y_true, y_pred):
    return (np.abs(y_true - y_pred)).mean()

In [8]:
# Оценим нашу модель на валидационной выборке:
print(f"MSE = {mse(y_true, y_pred)}")
print(f"MAE = {mae(y_true, y_pred)}")

MSE = 4.792666666666666
MAE = 1.3213333333333332

# публикуем сабмит

In [9]:
test_pred = pd.read_csv('data/algo_test_pred.csv')

In [10]:
test_pred

                     img_path  label
0        data/test_data/1.png      5
1        data/test_data/2.png     16
2        data/test_data/3.png      2
3        data/test_data/4.png      3
4        data/test_data/5.png      8
...                       ...    ...
5995  data/test_data/5996.png     11
5996  data/test_data/5997.png      5
5997  data/test_data/5998.png     10
5998  data/test_data/5999.png      7
5999  data/test_data/6000.png      0

[6000 rows x 2 columns]

In [11]:
submission = pd.read_csv('data/sample_submission.csv')

In [12]:
submission

      label
0         0
1         0
2         0
3         0
4         0
...     ...
5995      0
5996      0
5997      0
5998      0
5999      0

[6000 rows x 1 columns]

In [13]:
submission['label'] = test_pred.label.values

In [14]:
submission

      label
0         5
1        16
2         2
3         3
4         8
...     ...
5995     11
5996      5
5997     10
5998      7
5999      0

[6000 rows x 1 columns]

In [15]:
submission_path = 'submission/preds.csv'

In [16]:
submission.to_csv(submission_path, index=False)